Source: eawpatches-package
Section: contrib/sound
Priority: extra
Maintainer: Frédéric Brière <fbriere@fbriere.net>
Build-Depends: debhelper (>= 9), asciidoc, xmlto
Standards-Version: 3.9.5
Vcs-Git: https://github.com/fbriere/eawpatches-package.git
Vcs-Browser: https://github.com/fbriere/eawpatches-package
Bugs: mailto:fbriere@fbriere.net
Homepage: https://github.com/fbriere/eawpatches-package

Package: eawpatches-package
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, fakeroot, wget | curl
Recommends: unzip
Enhances: timidity
Description: Non-free (and more complete) patch set for MIDI audio synthesis
 eawpatches (also known as eawpats) provides a set of Gravis patch files
 suitable for MIDI audio synthesis.  It is more complete than the freepats
 package, but since many of these patches are of unknown origin, they cannot be
 distributed by Debian.
 .
 This utility makes it possible to build your own personal Debian package
 of eawpatches.
