#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	sed -i "s/\$${local:Version}/$(shell dpkg-parsechangelog --show-field Version)/g" debian/eawpatches-package/usr/share/eawpatches-package/control

